body {
    min-width: 1200px;
    margin: 0;
    padding: 0;
    font-size: 16px;
    line-height: 30px;
    font-family: "ArialMT", sans-serif;
    color: #404040;
    background-color: white;
}

h1, h2, h3, p, ul, dl, dt, dd, blockquote {
    margin: 0;
    padding: 0;
}

.container {
    width: 800px;
    margin: 0 auto;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

/*  Header */

.header-top {
    display: flex;
    gap: 58px;
}

.page-header {
    min-height: 550px;
    padding: 60px 200px;
    box-sizing: border-box;
    background-image: url("../img/wheat-back.jpg");
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-nav {
    border-top: 1px solid rgb(255, 255, 255, 0.2);
    border-bottom: 1px solid rgb(255, 255, 255, 0.2);
    padding: 14px 0px;
    margin: 0;
    display: flex;
    list-style: none;
    gap: 55px;
    align-self: center;
}

.main-nav a {
    text-transform: uppercase;
    color: #ffffff;
    text-decoration: none;
    line-height: 16px;
    font-family: "Arail-BoldMT", sans-serif;
    font-weight: bold;

    transition: all ease-out 0.3s;
}

.main-nav a:hover {
    color: #ffcb78;
}

.main-nav a:active {
    color: rgba(255, 203, 120, 0.53);
}

.header-logo {
    width: 140px;
    height: 76px;
}

.promo {
    margin: 0;
    margin-top: 120px;
}

.promo {
    color: #ffffff;
    text-decoration: none;
    font-size: 70px;
    line-height: 70px;
    font-family: "Arail-BoldMT", sans-serif;
    font-weight: bold;
    text-align: center;
}

h2 {
    color: #000000;
    text-transform: uppercase;
    margin: 0;
    line-height: 20px;
    font-size: 20px;
    font-family: "Arail-BoldMT", sans-serif;
    font-weight: bold;
}

.section-title {
    font-size: 40px;
    line-height: 61px;
}

/*  New products */

.new-products {
    padding-top: 80px;
    padding-bottom: 110px;
}

.product-list {
    display: flex;
    margin-top: 80px;
}

.product-item {
    padding-left: 35px;
    width: 340px;
    padding-right: 25px;
    border-right: 1px solid #e5e5e5;
}

.product-item:first-child {
    border-left: 1px solid #e5e5e5;
}

.product-item .content {
    position: relative;
    height: 459px;
    margin-bottom: 5px;
}

.product-item .info {
    position: absolute;
    top: -6px;
    right: 0px;
    width: 148px;
}

.product-item h3 {
    margin: 0;
    color: #000000;
    text-transform: uppercase;
    font-family: "Arail-BoldMT", sans-serif;
    font-weight: bold;
    font-size: 40px;
    line-height: 52px;
    margin-bottom: 33px;
}

.product-item img {
    margin-left: 9px;
}

.product-item .ingredients {
    font-size: 14px;
    line-height: 24px;
}

.product-item .properties {
    margin-bottom: 9px;
    border-collapse: collapse;
}

.product-item .properties td {
    border: 1px solid #e5e5e5;

    height: 38px;
    width: 70px;
    padding: 0px;
    padding-left: 10px;

    line-height: 41px;
    font-family: "Arail-BoldMT", sans-serif;
    font-weight: bold;
    color:#000000;
    text-transform: uppercase;

    transition: all ease-out 0.3s;
}

.product-item .properties td:hover {
    background-color: #e5e5e5;
}


.product-item .description {
    margin-bottom: 65px;
}

.actions .btn {
    margin-right: 3px;
}

.actions strong {
    color: #000000;
    margin-left: 16px;
}

/*  Buttons */

.btn {
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    background-color: #834600;
    border: 3px solid #834700;
    color: #ffffff;
    padding: 7px 20px;
    vertical-align: middle;
    font-family: "Arail-BoldMT", sans-serif;
    font-weight: bold; 
    box-sizing: border-box;
    font-size: 16px;
    line-height: 30px;

    transition: all ease-out 0.3s;
}

.btn:hover {
    background-color: #693900;
    border-color: #693900;
}

.btn:active {
    color: rgba(255, 255, 255, 0.53);
}

.btn.outline {
    background-color: transparent;
    color: #834700;
}

.btn.outline:hover {
    color: #693900;
    border-color: #693900;
    background-color: rgba(0, 0, 0, 0.1);
}

.btn.outline:active {
    opacity: 0.42;
}

.btn.ghost {
    padding: 8px 20px;
    background-color: transparent;
    border-color: #000000;
    border-width: 2px;
    color: #000000;
    opacity: 0.3;

    transition: all ease-out 0.3s;
}

.btn.ghost:hover {
    background-color: #000000;
    color: #ffffff;
}

.btn.ghost:active {
    color: rgba(255, 255, 255, 0.53);;
}


/*  Features  */

.features {
    background-color: #ffca78;
    padding: 80px 90px 95px 90px
}

.features ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    max-width: 1010px;
    margin: 0 auto;
}

.features li:not(:first-child) {
    padding-left: 94px;
    border-left: 1px solid #e5b56b;
}

.features li {
    width: 210px;
}

.features li p {
    margin: 0;
}

.feature-item::before {
    content: "";
    display: block;
    background-repeat: no-repeat;
    background-position: left top;
    width: 70px;
    height: 70px;
    margin-bottom: 40px;
}

.feature-item h2 {
    margin-bottom: 36px;
}

.feature-item.brew::before {
    background-image: url("../img/icon-brew.png");
}

.feature-item.matr::before {
    background-image: url("../img/icon-matreshka.png");
}

.feature-item.thumb::before {
    background-image: url("../img/icon-thumbsup.png");
}


/*  History */

.history {
    padding-top: 80px;
    padding-bottom: 86px;
}

.history dl {
    width: 800px;
    display: flex;
    flex-direction: column;
    margin-top: 59px;
}

.history dt {
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    color:#000000;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 20px;
}


.history dt i {
    color: #000000;
    text-transform: none;
    font-size: 16px;
    font-weight: normal;
    font-style: italic;
}


.history dd {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 60px;
}

.history dd p {
    width: 485px;
}

.history dt a {
    color: #834700;

    transition: all ease-out 0.3s;
}

.history dt a:hover {
    color: #693900;
}

.history dt a:active {
    opacity: 0.42;
}

/* About */

.about {
    padding-top: 80px;
    padding-bottom: 90px;
    background-color: #ede4d7;
}

.about blockquote {
    position: relative;
    margin-top: 74px;
    max-width: 800px;
}

.about blockquote::before {
    content: "";
    position: absolute;
    width: 41px;
    height: 31px;
    background: url("../img/quotes.png") no-repeat;
    top: 5px;
    left: -105px;
}

.about blockquote p {
    width: 690px;
    margin-bottom: 34px;
}

/* .about .quote-bottom {
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    align-items: center;
} */

.about cite {
    float: right;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    font-style: normal;
    color: #000000;
    margin-top: 10px;
}

.about .btn {
    float: left;
}


/*  Stock  */

.stock {
    padding-top: 90px;
    padding-bottom: 90px;
}

.stock .price-list {
    margin-top: 72px;
    margin-left: -2px;
    border-collapse: collapse;
}


.price-list th {

    padding-top: 10px;
    box-sizing: border-box;
    border-bottom: 1px solid #e5e5e5;
    padding-bottom: 40px;

    text-align: start;
    font-size: 11px;
    line-height: 11px;
    color: #999999;
    font-style: normal;
    font-weight: normal;
    text-transform: uppercase;
}

.price-list td {
    padding-left: -2px;
    box-sizing: border-box;
    border-bottom: 1px solid #e5e5e5;
    padding-top: 15px;
    padding-bottom: 17px;
}    

.price-list tr {
    transition: all ease-out 0.3s;
}

.price-list tr:hover {
    background-color: #e5e5e5;
}

.price-list .name {
    width: 400px;
}

.price-list .al {
    width: 90px;
}

.price-list .cal {
    width: 60px;
}

.price-list .vol {
    width: 60px;
}

.price-list .total {
    width: 190px;
    text-align: end;
}

.price-list td.name {
    color: #000000;
    text-transform: uppercase;
    font-weight: bold;
}

.price-list sup {
    background-color: #000000;
    font-size: 8px;
    color: #ffffff;
    padding: 3px 5px;
    border-radius: 4px;
    margin-left: 20px;
}

/*  Order  */

.order {
    background-color: #ffca78;
    padding-top: 80px;
    padding-bottom: 130px;
}

.order-tip {
    margin-top: 75px;
    margin-bottom: 70px;
    max-width: 660px;
}

.order-form {
    width: 630px;
}

.order-form-group {
    margin-bottom: 20px;
}

.order-form label {
    display: inline-block;
    font-weight: bold;
    text-transform: uppercase;
    color: #000000;
    line-height: 16px;
}

.order-form-group label {
    padding-bottom: 10px;
}

.order-form input[type="text"],
.order-form select,
.order-form textarea {
    box-sizing: border-box;
    width: 100%;
    height: 50px;
    padding: 0px 20px;
    background-color: #e5b56c;
    border: none;
    color: #a07e4b;
    text-transform: uppercase;
    font-weight: bold;
    line-height: 20px;
    font-size: 16px;

    transition: all ease-out 0.3s;
}

.order-form input[type="text"]:hover,
.order-form select:hover,
.order-form textarea:hover {
    background-color: #d9ac66;
}

.order-form input[type="text"]:focus,
.order-form select:focus,
.order-form textarea:focus {
    background-color: #ffffff;
    color: #000000;
}

.order-form textarea {
    min-height: 121px;
}

.order-form input[type="checkbox"] {
    vertical-align:sub;
    width: 37px;
    height: 37px;
    background-color: #e5b56c;
    margin: 0;
    margin-right: 15px;
}

.order-form-group.double {
    display: flex;
    gap: 50px;
}

.order-form-group .order-form-sub {
    width: 50%;
}

.order-form .checkbox-area {
    margin-bottom: 48px;
}


/*  Footer  */

.container-big {
    width: 1015px;
    margin: 0 auto;
}

.page-footer {
    padding-top: 60px;
    padding-bottom: 70px;
    background-color: #000000;

    font-size: 14px;
    line-height: 20px;
    color:#989898;
}

.footer-top {
    display: flex;
    max-width: 910px;
    justify-content: space-between;
    margin-bottom: 42px;
    /* height: 80px; */
    align-items: flex-start;
}

.footer-logo {
    width: 216px;
    text-align: center;
}

.footer-menu {
    margin: 0;
    margin-top: 8px;
    display: flex;
    border-top: 1px solid rgb(255, 255, 255, 0.2);
    border-bottom: 1px solid rgb(255, 255, 255, 0.2);
    list-style: none;
    gap: 55px;
    padding: 18px 0px;
}

.footer-menu a {
    text-transform: uppercase;
    color: #ffffff;
    font-size: 16px;
    text-decoration: none;
    line-height: 16px;
    font-family: "Arail-BoldMT", sans-serif;
    font-weight: bold;

    transition: all ease-out 0.3s;
}

.footer-menu a:hover {
    color: #ffcb78;
}

.footer-menu a:active {
    color: rgba(255, 203, 120, 0.53);
}

.footer-bottom {
    display: flex;
    align-items: center;
}

.footer-social {
    font-size: 0;
}

.social-btn {
    display: inline-flex;
    width: 70px;
    height: 68px;
    box-sizing: border-box;
    border: 1px solid #322d24;
    background-color: #1b1b1b;
    align-items: center;
    justify-content: center;

    transition: all ease-out 0.3s;
}

.social-btn::before {
    display: inline-block;
    content: "";
    background-repeat: no-repeat;
    width: 20px;
    height: 16px;
    background-position: center;
}

.social-btn.insta::before {
    background-image: url("../img/icon-insta.png")  
}

.social-btn.fb::before {
    background-image: url("../img/icon-fb.png")  
}

.social-btn.vk::before {
    background-image: url("../img/icon-vk.png")  
}

.footer-copy {
    margin-left: 92px;
    width: 200px;
}

.footer-dev {
    margin-left: 200px;
    width: 300px;
    display: flex;
    align-items: center;
}

.footer-dev .logo {
    display: inline-flex;
    width: 72px;
    height: 68px;
    box-sizing: border-box;
    border: 1px solid #322d24;
    background-color: #1b1b1b;
    
    align-items: center;
    justify-content: center;
    margin-right: 30px;

    transition: all ease-out 0.3s;
}

.footer-dev a {
    text-decoration: none;
    color:#989898;
}

.social-btn:hover,
.footer-dev .logo:hover {
    background-color: #2b2b2b;
    border-color: #605037;
}

.social-btn:active,
.footer-dev .logo:active {
    opacity: 0.43;
}