@import "../general/colors.scss";

.checkbox {
    cursor: pointer;
    position: relative;
    display: inline-flex;
    input,
    svg {
        width: 21px;
        height: 21px;
        display: block;
    }
    input {
        -webkit-appearance: none;
        -moz-appearance: none;
        position: relative;
        outline: none;
        background-color: rgba(0, 0, 0, 0.02);
        border: none;
        margin: 0 8px 0 0;
        padding: 0;
        
        border-radius: 4px;
        transition: box-shadow .3s;
        box-shadow: inset 0 0 0 2px $controls-color;
        &:hover {
            box-shadow: inset 0 0 0 2px $primary-color;
            background-color: rgba(0, 0, 0, 0.05);
        }
        &:checked {
            box-shadow: inset 0 0 0 11px $primary-color;
            & + svg {
                animation: bounce .4s linear forwards .2s;
            }
        }
    }
    svg {
        --scale: 0;
        pointer-events: none;
        fill: none;
        stroke-width: 2px;
        stroke-linecap: round;
        stroke-linejoin: round;
        stroke: $light-font-color;
        position: absolute;
        top: 0;
        left: 0;
        width: 21px;
        height: 21px;
        transform: scale(var(--scale, 1)) translateZ(0);
    }

    &.dark {
        color: $controls-color;
    }
}

@keyframes bounce {
    50% {
        transform: scale(1.2);
    }
    75% {
        transform: scale(.9);
    }
    100% {
        transform: scale(1);
    }
}