@import "../general/colors.scss";

.breadcrumbs {
    background-color: $secondary-surface-color;
    padding: 24px;
    padding-bottom: 4px;
    padding-left: 430px;

    .crumbs {
        display: flex;
        flex-wrap: wrap;
    }

    .crumb a {
        color: $font-color;
        margin-right: 12px;
        margin-bottom: 20px;

        font-weight: 500;
        display: flex;
        align-items: center;

        transition: color ease-out 0.1s;

        &:hover {
            color: $primary-color;
        }
    }

    .crumb:not(:last-child) a::after {
        margin-left: 10px;
        content: "";
        display: inline-block;
        width: 17px;
        height: 17px;
        background: url("../../img/arrow-right.svg");
    }
}