$surface-color: #2B2743;
$primary-color: #7F5CE2;
$secondary-surface-color: #F6F7FB;
$secondary-color: #41C2E2;
$background-color: #FFFFFF;

$controls-color: #AFAFAF;
$controls-hover-color: #F0F0F0;
$error-color: #EB5757;

$font-color: #2B2743;
$light-font-color: #FFFFFF;